@model IEnumerable<Logbook_System.DB.Student>

@{
    ViewBag.Title = "Student List";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="container">
    <h2>Students List</h2>

    <p>
        @Html.ActionLink("Register New Student", "Create")
    </p>
    <table class="table table-striped table-hover">
        <tr style="background:#2a398c !important; color:#2a398c;">
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.Class1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Class1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, new { @class = "btn btn-primary btn-xs"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }, new { @class = "btn btn-success btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class = "btn btn-danger btn-xs" })

                </td>
            </tr>
        }

    </table>
    </div>