@model IEnumerable<Logbook_System.DB.TBL_Weekly>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LearnershipIntk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedToSatisifaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemsExperienced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeanerSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MentorSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mentor.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnershipIntk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedToSatisifaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemsExperienced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeanerSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MentorSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mentor.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
